/* MODAL */
.modal {
    /* 가장 큰 틀은 무조건 fixed 속성을 사용해야 한다. */
    /* 내부 레이아웃은 다른 div가 flex로 조정해줘야 하므로, fixed된 틀이 필요함. */
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 30;
    /* 내부 컨텐츠가 길 예정이므로 스크롤 설정 */
    overflow-y: scroll;
    background: rgba(0, 0, 0, 0.93);
}

/* 모달창 내부 첫번째 요소는 컨텐츠를 감싸는 용도 */
.modal > div {
    /* 컨텐츠와 사이드 영역 레이아웃을 위해 flex 적용 */
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 100vh;
}

.modal a {
    font-family: 'Montserrat', sans-serif;
}

/* 내용이 들어갈 영역 */
.content {
    /* 자동으로 영역을 차지하도록 */
    display: flex;
    flex-direction: column;
    width: 1200px;
    color: #fff;
    position: relative;
    /* background: red; */
}

/* 사이드 영역 - Modal Close 기능을 구현할 클릭 영역 */
.side {
    flex-grow: 1;
    /* 클릭 영역이 스크롤이 되어도 유지되야 하므로, inherit으로 상속 */
    height: inherit;
    /* background: blue; */
}

/* 하단 영역 - Modal Close 기능을 구현할 클릭 영역 */
.bottom {
    width: 100%;
    min-height: 80px;
    flex-grow: 1;
    /* background: cyan; */
}

/* !! 앵커태그 추가하는 형태로 변경 !! */
/* 하단 영역에 버튼이 생길 시 */
/* 버튼 외부 여백에 click 이벤트를 주기 위해 */
/* 버튼 양옆으로 투명한 요소를 추가 배치한다 */
/* 모달창 전체 레이아웃과 같은 원리 */
/* .bottom-box {
    width: 100%;
}

.bottom-box > div {
    flex-grow: 1;
} */

.title {
    padding: 20px 0;
}

.title h1 {
    font-size: 1.3rem;
    margin: 0 20px 0 0;
    display: inline-block;
}

.title a {
    margin: 0 10px 0 0;
    font-size: 1.3rem;
    font-weight: lighter;
    color: #fff;
}

.title span {
    font-size: 0.8rem;
    font-weight: lighter;
    margin: 0 0 0 15px;
}

.item img {
    display: block;
    width: 100%;
}

.item .bottom {
    height: 50px;
}

.item .btn-move {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    background: transparent;
}

.item .btn-move a {
    align-items: center;
    justify-content: space-between;

    width: 50%;
    height: 130px;
    padding: 30px 40px;
    box-sizing: border-box;

    border: 1px solid #fff;
    color: #fff;
    font-size: 2.5rem;
    font-weight: bold;
}

.item .btn-move a i {
    margin: 0 15px 0 0;
}

.item .btn-move a:hover {
    background: #000;
    border: 1px solid #000;
    filter: invert(100);
}

.item .btn-move img {
    width: 70px;
}

/* !! 앵커태그 추가하는 형태로 변경 !! */
/* BTN Visit at the bottom */
/* .btn-visit {
    display: inline-block;
    width: 200px;
    height: 200px;
    border: 1px solid #fff;
    border-radius: 50%;
    background: transparent;
    text-align: center;
    font-size: 1rem;
    line-height: 200px;
    color: #fff;
    z-index: 100;
    margin: 80px 0;
}

.btn-visit:hover {
    background: #fff;
    color: #000;
} */

/* only Mobile ver. */
.btn-close {
    display: none;
}

/* Alert modal */
.alert {
    overflow-y: hidden;
    justify-content: center;
    align-items: center;
    filter: blur(10);
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
}

.alert > div {
    flex-direction: column;
    min-height: fit-content;
    width: 400px;
    padding: 20px 30px;
    background-color: #000;
    border: 3px solid #fff;
}

.alert > div > span {
    width: 100%;
    text-align: justify;
}

.alert button {
    width: 50px;
    height: 50px;
}
.alert button:after,
.alert button:before {
    position: absolute;
    left: 15px;
    content: '';
    height: 40px;
    width: 2px;
    background-color: #fff;
}
.alert button:before {
    transform: rotate(45deg);
}
.alert button:after {
    transform: rotate(-45deg);
}

/* Responsive ver. */
@media(max-width : 1024px) {

    .modal {
        background: #000;
    }

    .content {
        width: 100%;
    }

    .bottom,
    .side {
        display: none;
    }

    .title {
        padding: 20px;
    }

    .title span {
        display: block;
        margin: 5px 0 0;
    }

    .item .btn-move {
        flex-direction: column;
    }

    .item .btn-move a {
        width: 100%;
        height: fit-content;
        padding: 20px;
        border: none;
        border-bottom: 1px solid #fff;
        font-size: 1.8rem;
    }

    .item .btn-move img {
        display: none;
    }

    /* only Mobile ver. */
    .btn-close {
        display: block;
        position: fixed;
        bottom: 3%;
        right: 4%;
        width: 45px;
        height: 45px;
        background-color: #fff;
        background-image: url("../img/close.svg");
        border: 2px solid #000;
        border-radius: 50%;
        cursor: pointer;
    }

    /* !! 앵커태그 추가하는 형태로 변경 !! */
    /* BTN Visit at the bottom */
    /* .bottom-box > div {
        visibility: hidden;
    } */

}
