/* MODAL */
.modal {
    /* 가장 큰 틀은 무조건 fixed 속성을 사용해야 함 */
    /* 내부 레이아웃은 다른 div가 flex로 조정해줘야 하므로 fixed된 틀 필요 */
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 30;
    background: rgba(0, 0, 0, 0.93);

    /* 내부 컨텐츠가 길 예정이므로 스크롤 설정 */
    overflow-y: scroll;
}

/* 모달창 내부 첫번째 요소는 컨텐츠 감싸는 용도 */
.modal > div {
    /* 컨텐츠와 사이드 영역 레이아웃을 위해 flex 적용 */
    /* justify-content: space-between; */
    width: 100%;
    min-height: 100vh;
}

.modal a {
    font-family: 'Montserrat', sans-serif;
}

/* 내용이 들어갈 영역 */
.content {
    position: relative;
    width: 1200px;
    color: #fff;
    background-color: red;
}

/* 사이드 영역 - closeModal 기능을 구현할 클릭 영역 */
.side {
    flex-grow: 1;
    /* 클릭 영역이 스크롤 되어도 유지되어야 하므로 inherit으로 상속 */
    height: inherit;
}

/* 하단 영역 - closeModal 기능을 구현할 클릭 영역 */
.bottom {
    width: 100%;
    min-height: 80px;
}

.title {
    padding: 20px 0;
}

.title h1 {
    display: inline-block;
    margin: 0 20px 0 0;
    font-size: 1.3rem;
}

.title a {
    margin: 0 10px 0 0;
    color: #fff;
    font-weight: lighter;
    font-size: 1.3rem;
}

.title span {
    margin: 0 0 0 15px;
    font-weight: lighter;
    font-size: 0.8rem;
}

.item img {
    display: block;
    width: 100%;
}

.item .bottom {
    height: 50px;
}

.item .btn-move {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: transparent;
}

.item .btn-move a {
    align-items: center;
    justify-content: space-between;
    width: 50%;
    height: 130px;
    padding: 30px 40px;
    box-sizing: border-box;
    border: 1px solid #fff;
    color: #fff;
    font-weight: bold;
    font-size: 2.5rem;
}

.item .btn-move a i {
    margin: 0 15px 0 0;
}

.item .btn-move a:hover {
    background: #000;
    border: 1px solid #000;
    filter: invert(100);
}

.item .btn-move img {
    width: 70px;
}

/* only Mobile ver. */
.btn-close {
    display: none;
}

/* ALERT MODAL */
.alert {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: -150px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 30;
}

.alert > div {
    align-items: center;
    position: relative;
    width: 500px;
    height: fit-content;
    min-height: 50px;
    padding: 30px;
    background-color: #fff;
}

.alert p {
    display: block;
    width: 430px;
    padding: 10px;
    box-sizing: border-box;
    color: #000;
    text-align: justify;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.2rem;
}

.alert button {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    background-color: transparent;
}

.alert button:after,
.alert button:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 50px;
    height: 2px;
    background-color: #000;
}

.alert button:before {
    transform: rotate(45deg);
}

.alert button:after {
    transform: rotate(-45deg);
}

/* Responsive ver. */
@media(max-width : 1024px) {

    .modal {
        background: #000;
    }

    .content {
        width: 100%;
    }

    .bottom,
    .side {
        display: none;
    }

    .title {
        padding: 20px;
    }

    .title span {
        display: block;
        margin: 5px 0 0;
    }

    .item .btn-move {
        flex-direction: column;
    }

    .item .btn-move a {
        width: 100%;
        height: fit-content;
        padding: 20px;
        border: 1px solid transparent;
        border-bottom: 1px solid #fff;
        font-size: 1.8rem;
    }

    .item .btn-move img {
        display: none;
    }

    /* only Mobile ver. */
    .btn-close {
        display: block;
        position: fixed;
        bottom: 3%;
        right: 4%;
        width: 45px;
        height: 45px;
        background-image: url("../img/close.svg");
        background-color: #fff;
        border: 2px solid #000;
        border-radius: 50%;
        cursor: pointer;
    }
}
