/* SECTION */
section {
    height: 100%;
    padding: 0 0 100px;
}

section > div {
    gap: 10px;
    width: 50%;
}

section .item {
    border: 1px solid #000;
}

section h1 {
    font-size: 2rem;
}

/* Left Side */
.container-left {
	grid-template-columns: repeat(auto-fit, minmax(300px, auto));
}

.container-left h1 {
    padding: 5px 20px;
    border-bottom: 1px solid #000;
}

.container-left p {
    padding: 15px 20px;
    text-align: justify;
    word-break: break-all;
}

/* Right Side */
.container-right {
	grid-template-columns: repeat(auto-fit, minmax(300px, auto));
	grid-template-rows: repeat(auto-fit, minmax(300px, auto));
    margin: 0 0 0 10px;
}

.container-right .item {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 50px;
    box-sizing: border-box;
    text-align: center;
}

.container-right .item .hide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 50px;
    box-sizing: border-box;
    background: #000;
    color: #fff;
    font-weight: 300;
    opacity: 0;
    transition: all 0.1s;
}

.container-right .item:hover {
    background: #000;
}

.container-right .item:hover h1 {
    color: #fff;
    opacity: 0;
}

.container-right .item:hover .hide {
    background: #000;
    color: #fff;
    opacity: 1;
}

/* BTN Open */
.container-right a {
    width: 200px;
    height: 50px;
    margin: 50px 0 0 0;
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    line-height: 50px;
    transition: all 0.2s;
}

.container-right a:hover {
    background: #fff;
    color: #000;
}

/* Responsive ver. */
@media(max-width : 1024px) {

    /* PROJECT */
    section {
        flex-direction: column;
        height: unset;
        padding: 0 0 60px 0;
    }

    section > div {
        width: 100%;
    }

    /* Left Side */
    .container-left {
        grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    }

    .container-left h1 {
        height: fit-content;
        padding: 5px 15px;
        font-size: 1.5rem;
        line-height: unset;
    }

    .container-left p {
        padding: 10px 15px;
    }

    /* Right Side */
    .container-right {
        grid-template-columns: repeat(auto-fit, minmax(200px, auto));
        grid-template-rows: repeat(auto-fit, minmax(200px, auto));
        margin: 10px 0 0 0;
    }
    
    .container-right .item {
        padding: 25px;
    }

    .container-right .item .hide {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: unset;
        width: unset;
        height: unset;
        padding: 20px 0 0 0;
        background: #fff;
        color: #000;
        font-weight: unset;
        opacity: 1;
    }

    .container-right .item:hover {
        background: unset;
    }
    
    .container-right .item:hover h1 {
        opacity: unset;
        color: unset;
    }

    .container-right .item:hover .hide {
        background: unset;
        color: unset;
    }

    /* BTN Open */
    .container-right a,
    .container-right a:hover {
        width: 100%;
        margin: 20px 0 0 0;
        background: #000;
        color: #fff;
    }

}